SSO_ADDR=:8088
SSO_DB_DSN=root:password@tcp(127.0.0.1:3306)/sso_central?parseTime=true
SSO_JWT_SECRET=change-this-super-secret-key
SSO_SESSION_COOKIE=sso_session
SSO_CODE_TTL_MINUTES=5
SSO_TOKEN_TTL_MINUTES=60
SSO_ADMIN_EMAIL=admin@sso.local
SSO_ADMIN_PASSWORD=Admin#2026!
SSO_OAUTH_FLOW_COOKIE=sso_oauth_flow

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URL=http://127.0.0.1:8088/login/google/callback
GOOGLE_OAUTH_HOSTED_DOMAIN=pnc.ac.id
